---

---

<header>
  <h1>THE SOFTWARE PACKAGE TITLE</h1>
  <p>Lorem ipsum dolor sit amet et delectus accommodare his lorem ipsum</p>
</header>

<style lang="scss">
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #584c4c;
    font-size: 1.125rem;
    height: 100vh;
  }
</style>
