---
---
<div>
  <div>
    <h1>Pricing</h1>
    <p>Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae.</p>
  </div>
  <div>
      <button type="button">Monthly</button>
      <button type="button">Yearly</button>
  </div>
  <div>
      <div>Student $0.00</div>
      <div>Professional $19.99</div>
      <div>Business $99.99</div>
  </div>
</div>

